html, body{
    height: 100%;
    width:100%;
}

body {
    /*background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);*/
    background-color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#bodyLogin {
    background-image: url("../images/stripes-light.png");
}

table {
    text-align: center;
    border-collapse: collapse;
}

table, th, td{
    border: none;
}

legend {
    text-align: center;
}

td {
    height: 50px;
    width: 250px;
    transition: 0.15s ease-in-out;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td:hover:not(.disabled):not(.bord) {
    box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7);
}

.showRDV_back {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.showRDV_back::before {
    height: 100%;
    content: "";
    display: inline-block;
    vertical-align: middle;
}

.showRDV_modal {
    background-color: whitesmoke;
    display: inline-block;
    vertical-align: middle;
    width: 500px;
    height: 500px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.showRDV_modal > img {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: 190px;
    margin-top: 10px;
}

.showRDV_modal > h1 {
    text-decoration: underline;
    margin-top: 20px;
}

.infos {
    margin-top: 20px;
}

.infos > label {
    float: left;
    margin-left: 50px;
    text-decoration: underline;
}

.infos > input, textarea {
    float: right;
    margin-right: 25px;
}

.infos > textarea {
    float: left;
    margin-left: 5px;

}

.erreurs {
    border : 0px;
    background: rgb(255, 255, 204);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display : flex;
    justify-content: center;
    border-radius:5px;
    color:rgb(230, 115, 0);
    font-size : 125%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    letter-spacing: 1.5px;
}
.erreurs legend {

    font-size : 125%;
}
.erreurs p {
    font-size: 20px;
    margin-top: auto;
}

header{
	text-align:center;
}

#fieldsetLogin, header{
	margin:auto;
}

#fieldsetLogin{
	width:500px;
}

header{
    height:12%;
    width: 100%;
}

aside{
	position: absolute;
	padding-top: 1px;
	max-width: 328px;
}

.interface{
	position: absolute;
	margin-left: 8%;
	right:1%;
	padding-top: 17px;
	width: 63%;
}

.labelinput,.label_nostyle{
	display: block;
	width: 39%;
	float: left;
	padding-right: 1%;
	text-align: right;
	letter-spacing: 1px;
}

.labelselect{
	display: block;
	width: 39%;
	float: left;
	padding-right: 1%;
	text-align: right;
	
}

.label_nostyle{
	background: none;
	color:transparent;
}

.divLogin{
    width: 525px;
    background-color: whitesmoke;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.divLogin p {
    padding-top: 25px;
}

.divLogin fieldset {
    border: 0;
}

.divLogin input[type="submit"]{
    width: 150px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-decoration: none;
    transition : all 0.15s ease-in-out;
    letter-spacing : 1px;
    border-radius : 3px;
}

.divLogin input[type="submit"]:hover{
    background : white;
    color : #4CAF50;
    border : 1px solid #4CAF50;
}

.divLogin p input{
    border-radius : 3px;
    color : #414A51;
    padding : 1% 0 1% 1%;
    font-size : 14px;
    width : 48%;
    border : 1px solid #CCC;
    transition : all .25s ease-in-out;
}
.divLogin p input:hover{
    box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7) ;
}

h1 {
    text-align: center;
}

fieldset {
    background: rgb(247, 247, 247);
    border-radius: 5px;
    border: 1px solid #CCC;
    transition: 0.15s ease-in-out;
}

fieldset:hover{
    box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7);
}

.pbtn {
    text-align: center;
}

.divLogin p:not(.pbtn):not(.title) {
    text-align: right;
    margin-right: 10%;
}

.divLogin input {
    margin-left: 10px;
    height: 32px;
    width: 200px;
}

.divLogin label {
    display: inline-block;
    background-color: #4CAF50;
    box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7);
    color: white;
    transition: 0.15s ease-in-out;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 45px;
    border-radius: 3px;
}

.divLogin label:hover {
    background-color: white;
    color: #4CAF50;
}

#loginTitle {
    display: inline-block;
    vertical-align: middle;
}

header {
    margin: 0;
    background-color: #4CAF50;
    color: white;
    height: 50px;
}

header p {
    display: inline-block;
    vertical-align: middle;
}


.btnDeconnexion {
    display: inline-block;
    margin-left: 850px;
    color: white;
}

.btnDeconnexion a {
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 500px;
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
    transition: 0.10s ease-in-out;
}

.btnDeconnexion a:hover {
    background-color: #48964b;
}

.bord {
    background-color: #2e3131;
    color: white;
}

.rempli {
    background-color: #2ecc71;
}

.bord input {
    margin-right: -6px;
    margin-left: -5px;
    border: none;
    background-color: #2e3131;
    color: white;
    padding: 25px;
    padding-left: 30px;
    transition: 0.15s ease-in-out;
}

.bord input:hover{
    background-color: white;
    color: #2e3131;
}